/* 
    Document   : style
    Created on : Aug 29, 2012, 3:59:32 PM
    Author     : Nick
    Description:
        Purpose of the stylesheet follows.
*/

html {
    height:100%;
}
/*
body {
    //position:relative;
    //background:#f2f2f2;
    height:100%;
    padding:0;
    margin:0;
}

div#show {
    width:280px;
    height:200px;
    padding:20px;
    position:absolute;
    left:50%;
    margin-left:-120px;
    top:50%;
    margin-top:-160px;
    background:#40464b;
    border-radius:6px;
}

h1 {
    font-size:14px;
    color:#f2f2f2;
    text-align:center;
    margin:0 0 20px;
    padding:0;
    font-family:Arial;
}*/

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:black;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(nocheck.png) 2px  -7px;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(checkbox.png) 0px  -2px;
}

input[type="radio"] {
    display:none;
    margin-left: 10px;
}

input[type="radio"] + label {
    color:black;
//color:red;
    font-family:Arial, sans-serif;
    font-size:14px;
}

input[type="radio"] + label span {
    display:inline-block;
    width:29px;
    height:29px;
    margin:5px 4px 0 0;
    vertical-align:middle;
    background:url(radio1.png) -1px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(radio.png) -1px top no-repeat;
}