<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>id</param-name>
        <!--<param-value>1392803575243</param-value>-->
        <!--        <param-value>1392803575243</param-value>-->
        <param-value>1391329825711</param-value>
    </context-param>
    <context-param>
        <param-name>name</param-name>
        <param-value>Lost_Society</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <!--    <param-value>http://grayether.com/Restaurant/</param-value>-->
        <param-value>http://restaurant.digidine.in/</param-value>
    </context-param>
    <context-param>
        <param-name>charge</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <param-name>vat</param-name>
        <param-value>0</param-value>
    </context-param>
    <context-param>
        <param-name>tax</param-name>
        <param-value>0</param-value>
    </context-param>
    <servlet>
        <servlet-name>transactions</servlet-name>
        <servlet-class>com.manager.transactions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyncTransactions</servlet-name>
        <servlet-class>com.manager.SyncTransactions</servlet-class>
    </servlet>
    <servlet>
        <description>uploadLogo</description>
        <servlet-name>uploadLogo</servlet-name>
        <servlet-class>com.action.menu.uploadLogo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>com.action.menu.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenu</servlet-name>
        <servlet-class>com.action.menu.AddMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upmenu</servlet-name>
        <servlet-class>com.action.menu.upmenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downmenu</servlet-name>
        <servlet-class>com.action.menu.downmenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Available</servlet-name>
        <servlet-class>com.action.menu.Available</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoUpload</servlet-name>
        <servlet-class>com.action.menu.logoUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditItem</servlet-name>
        <servlet-class>com.action.menu.EditItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishTransaction</servlet-name>
        <servlet-class>com.manager.FinishTransaction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOrder</servlet-name>
        <servlet-class>com.manager.RemoveOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveRemove</servlet-name>
        <servlet-class>com.manager.SaveRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancleRemove</servlet-name>
        <servlet-class>com.manager.CancleRemove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VoidBill</servlet-name>
        <servlet-class>com.manager.VoidBill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMail</servlet-name>
        <servlet-class>com.manager.sendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DailyReports</servlet-name>
        <servlet-class>com.action.reports.DailyReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reports</servlet-name>
        <servlet-class>com.action.reports.Reports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTable</servlet-name>
        <servlet-class>com.action.accounts.CreateTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateWaiter</servlet-name>
        <servlet-class>com.action.accounts.CreateWaiter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateManager</servlet-name>
        <servlet-class>com.action.accounts.CreateManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WaiterLogin</servlet-name>
        <servlet-class>com.action.WaiterLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateKitchen</servlet-name>
        <servlet-class>com.action.accounts.CreateKitchen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kichenLogin</servlet-name>
        <servlet-class>com.action.kichenLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditManager</servlet-name>
        <servlet-class>com.action.accounts.EditManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWaiter</servlet-name>
        <servlet-class>com.action.accounts.EditWaiter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTable</servlet-name>
        <servlet-class>com.action.accounts.EditTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditKichen</servlet-name>
        <servlet-class>com.action.accounts.EditKichen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.action.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTax</servlet-name>
        <servlet-class>com.action.accounts.CreateTax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTax</servlet-name>
        <servlet-class>com.action.accounts.EditTax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplayTax</servlet-name>
        <servlet-class>com.action.accounts.ApplayTax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KitchenJson</servlet-name>
        <servlet-class>com.action.KitchenJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transactions</servlet-name>
        <url-pattern>/transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyncTransactions</servlet-name>
        <url-pattern>/SyncTransactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenu</servlet-name>
        <url-pattern>/AddMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upmenu</servlet-name>
        <url-pattern>/upmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downmenu</servlet-name>
        <url-pattern>/downmenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadLogo</servlet-name>
        <url-pattern>/uploadLogo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Available</servlet-name>
        <url-pattern>/Available</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoUpload</servlet-name>
        <url-pattern>/logoUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditItem</servlet-name>
        <url-pattern>/EditItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishTransaction</servlet-name>
        <url-pattern>/FinishTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOrder</servlet-name>
        <url-pattern>/RemoveOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveRemove</servlet-name>
        <url-pattern>/SaveRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancleRemove</servlet-name>
        <url-pattern>/CancleRemove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VoidBill</servlet-name>
        <url-pattern>/VoidBill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMail</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BillJson</servlet-name>
        <servlet-class>com.action.BillJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatedData</servlet-name>
        <servlet-class>com.action.UpdatedData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BillJson</servlet-name>
        <url-pattern>/BillJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatedData</servlet-name>
        <url-pattern>/UpdatedData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DailyReports</servlet-name>
        <url-pattern>/DailyReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reports</servlet-name>
        <url-pattern>/Reports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTable</servlet-name>
        <url-pattern>/CreateTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateWaiter</servlet-name>
        <url-pattern>/CreateWaiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateManager</servlet-name>
        <url-pattern>/CreateManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WaiterLogin</servlet-name>
        <url-pattern>/WaiterLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateKitchen</servlet-name>
        <url-pattern>/CreateKitchen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kichenLogin</servlet-name>
        <url-pattern>/kichenLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditManager</servlet-name>
        <url-pattern>/EditManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWaiter</servlet-name>
        <url-pattern>/EditWaiter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTable</servlet-name>
        <url-pattern>/EditTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditKichen</servlet-name>
        <url-pattern>/EditKichen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTax</servlet-name>
        <url-pattern>/CreateTax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTax</servlet-name>
        <url-pattern>/EditTax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplayTax</servlet-name>
        <url-pattern>/ApplayTax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KitchenJson</servlet-name>
        <url-pattern>/KitchenJson</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            999
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginPage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
